*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: top;
}
li{
    list-style: none;
}
#wrap{
    width: 100%;
    color: #333333;
}
.header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.imgslide{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}
.contents{
    width: 1200px;
    height: 200px;
    margin: 0 auto;   
}
.footer{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    color: white;
}
.header_logo{
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.header_logo h2{
    width: 200px;
    height: 40px;
    color: green;
}
.main_menu{
    width: 1000px;
    height: 100px;
    float: left;
}
.main_menu_list{
    width: 650px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.main_menu_list li{
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.main_menu_list li a{
    display: block;
    width: 150px;
    height: 50px;
}
.main_menu_list li a:hover{
    background-color: green;
    color: white;
}
.sub_menu{
    width: 1200px;
    height:150px;
    text-align: center;
    background-color: chocolate;
    position:absolute;
    padding-left: 550px;
    top: 100px;
    box-sizing: border-box;
    display: none;
    z-index: 9999;
}
.sub_menu_list{
    float: left;
}
.sub_menu_list a{
    display: block;
    width: 150px;
    padding: 7px 0;
    color: white;    
}
.sub_menu_list a:hover{
    background-color: burlywood;
    color: black;
}
.imgslide_list{
    width: 3600px;
    height: 350px;
    position: absolute;
}
.imgslide_list li{
    width: 1200px;
    height: 350px;
    float: left;
}
.imgslide_title{
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: green;
    font-size: 30px;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    border-radius: 20px;
    
}
.contents_box{
    width: 400px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    color: green;
    float: left;
}
.contents_title h3{
    width: 100px;
    height: 49px;
    line-height: 50px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid black;
    border-bottom: 1px solid white;
    z-index: 99999;
    bottom:-1px;
    position: absolute;

}
.contents_title{
    width: 380px;
    height: 50px;
    position: relative;
}
.contents_txt_box{
    width: 380px;
    height: 130px;
    border: 1px solid black;
    position: relative;
    float: left;
}
.contents_txt li{
    width: 380px;
    height: 30px;
    color: black;
    padding-left: 10px;
}
.contents_txt span{
    position: absolute;
    right: 0;
    padding-right: 10px
}
.contents_txt li:first-child{
    padding-top: 10px;
}
.contents_img{
    width: 110px;
    height: 90px;
    padding: 10px;
    margin: 20px 0 0 12px;
    box-sizing: border-box;
    float: left;
}
.contents_img img{
    width: 100%;
    height: 100%;
}
.banner img{
    margin: 10px
}
.footer_logo{
    width: 200px;
    height: 100px;
    line-height: 100px;
    float: left;
    color: gray;
}
.footer_logo h2{
    padding-left: 15px
}
.footer_copy{
    width: 800px;
    height: 100px;
    float: left;
}
.footer_copy h3{
    width: 600px;
    height: 100px;
    color: black;
    text-align: center;
    line-height: 100px;
    margin: 0 auto;
}
.footer_f{
    width: 200px;
    height: 100px;
}