@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    vertical-align: top;
}
a{
    color: inherit;;
    text-decoration: none;
}
body{
    background-color: #111;
}
.wall{
    width: 800px;
    height: 600px;
    margin: 50px auto;
    background-color: #999;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 5px solid #333;
    overflow: hidden;
}
.wall h1{
    font-size: 37px;
    font-family: 'Lobster', cursive;
    position: absolute;
    right: 50px;
    top: 60px;
    width: 130px;
    line-height: 180px;
    text-align: center;
}
.wall_list{
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #fff;
}
.wall_list li{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border: 5px solid #333;
    border-radius: 10px;
    cursor: pointer;
}
.wall_list li.active{
    border-color: #8dff07;
}
.wall_list li img{
    width: 100%;
}
.control{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
}
.control a{
    float: left;
    background-image: url(../images/arrow.png);
    width: 25px;
    height: 40px;
    text-indent: -9999px;
    margin: 0 5px;    
}
.control a.right{
    background-position: right;
}
