*{
    margin: 0;
    padding: 0;
    text-align: center;
}
a{
    display: block;
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
.container{
    width: 90%;
    max-width: 1370px;
    margin: 0 auto;
}
.sec_tit{
    margin: 20px 0;
    background-color: antiquewhite;
}
.header{
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: aliceblue;
}
.header_wrap{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.header .logo{
    width: 20%;
    background-color: beige;
}
nav{
    display: none;
}
.menu_toggle_btn{
    width: 20%;
    background-color: red;
}
#wrap{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    text-align: center;
}
.slider{
    width: 100%;
    background-color: aquamarine;
    height: 300px;
}
.section .content{
    width: 100%;
    display: flex;
}
.josuck_section{
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: column;
    background-color: #5c5a5a;
}
.josuck_section p{
    background-color: #4c9b81;
    height: 100px;    
}
.josuck_img{
    background-color: #30eaad;
    height: 100px;
}
.king_section{
    display: flex;
}
.king_list li{
    margin: 10px 0;
    background-color: #5c5a5a;
}
.work_section{
    width: 100%;
}
.work_list{
    width: 100%;
}
.work_list li{
    margin: 20px 0;
    width: 100%;
    height: 100px;
    background-color: orange;
}
.video_section{
    width: 100%;
}
.video_list li{
    margin: 20px 0;
    height: 150px;
    background-color: chocolate;
}
.contact_section{
    width: 100%;
}
.from_box{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}
.footer{
    width: 100%;
    background-color: aqua;
}

/*-------------------------------------------*/
@media all and (min-width:768px){
    .menu_toggle_btn{
        display: none;
    }
    #wrap{
    margin: 0 auto;
    display: flex;
    text-align: center;
    }
    .header_wrap{
        display: flex;
        justify-content: space-between;
    }
    nav{
        display: flex;
        width: 60%;
    }    
    .gnb{
        width: 100%;
        display: flex;
    }
    .gnb li{
        width: 20%;
    }
    .josuck_section p{
        float: left;
        width: 50%;
        height: 200px
    }
    .josuck_section .josuck_img{
        width: 50%;
        float: left;
        height: 200px;
    }
    .king_list{
        display: flex;
        justify-content: space-between;
    }
    .king_section .king_list li{
        width: 30%;
        height: 200px;
    }
    .work_list{
        width: 100%;
        display: flex;
        flex-flow: wrap;
    }
    .work_list li{
        width: 50%;
    }
}