.container{
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
}

.cfixed:after , .container:after{
    display: block;
    content: "";
    clear: both;                        /**----가상의박스를 만들어서 float를 삭제시키는 기능------**/
}

.blind{
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -99999px;
    overflow: hidden;
}

.sec_tit{
    font-size: 42px;
    color: #3f51b5;
    font-weight: normal;
}

.divider{
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    margin-top: 77px;
    background-color: #eee;
}

.m_divider{
    width: 20px;
    margin: 0 auto;
    margin-top: 77px;
    background-color: #3f51b5;
}

.header{
    position: relative;
    padding: 18px 5%;
}

.header .logo{
    float: left;
}

.header .logo a{
    font-size: 26px;
    color: #3f51b5;
    font-weight: normal;
}

.header .gnb{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #3f51b5;
}

.header .gnb li{
    border-bottom: 1px solid #303f9f;
}

.header .gnb li a{
    display: block;
    padding: 14px 0 14px 5%;
    font-size: 14px;
    color: #fff;
}

.header .menu_toggle_btn{
    float: right;
    width: 20px;
    cursor: pointer;
}

.header .menu_toggle_btn span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #3f51b5
}

.header .menu_toggle_btn span:nth-child(2){         /**------3개가 한곳에 겹쳐있는데 2번째있는애한테 마진을주면 위아래로 나타남------**/
    margin: 5px 0;
}



/*-----------------------------------------------------------------------------------*/


.slider img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.display_section{
    margin-top: 59px;
    text-align: center;
}
.display_section .sec_tit{
    margin-bottom: 30px;
}

.display_section .desc{
    font-family: 'PT Serif';
    color: #616161;
    line-height: 1.9;
}

.promotion_section{
    margin-top: 68px;
}

.promotion_section .promo_list li{
    margin-top: 52px;
    text-align: center;
}
.promotion_section .promo_list li:first-child{            /**---------모바일버전은 아무변화없지만 나중에할때는 초기값이라 필요함-----------**/
    margin-top: 0;
}
.promotion_section .promo_list li img{
    height: 52px;
}

.promotion_section .promo_list li h3{
    margin: 29px 0 20px 0;
    color: #3f51b5;
    font-weight: normal;
}
.promotion_section .promo_list p{
    font-size: 14px;
    font-family: 'PT Serif';
    color: #616161;
    line-height: 1.5;
}

.work_section{
    margin-top: 73px;
}

.work_section .sec_tit{
    width: 90%;
    max-width: 1132px;
    margin: 0 auto;
    margin-bottom: 47px;
    text-align: center;
}

.work_section .work_list li{
    width: 100%;
}

.work_section .work_list li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.work_section .work_list li img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.work_section .work_list li a:before{                /**----가상의상자를 만든다------* 공식 : content"" 필수*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    content: "";
    opacity: 0;
    transition: all 0.2s;
}

.work_section .work_list li a:hover:before{
    opacity: 0.86;
}

.work_section .work_list li .info{
    position: absolute;
    top: 0;
    left: 23px;
    z-index: 20;
    opacity: 0;
    transition: all 0.3s;
}

.work_section .work_list li a:hover .info{
    transform: translateY(23px);
    opacity: 1;
}

.work_section .work_list li .info h3{
    margin-bottom: 8px;
    font-size: 23px;
    color: #fff;
    font-weight: normal;
}

.work_section .work_list li .info span{
    font-size: 11px;
    color: #fff;
}

/*--------------------------------------------------------------------------*/

.blog_section{
    margin-top: 77px;
}

.blog_section .sec_tit{
    margin-bottom: 47px;
    text-align: center;
}

.blog_section .blog_list li{
    width: 100%;
    margin-top: 45px;
}
.blog_section .blog_list li:first-child{
    margin-top: 0;
}
.blog_section .blog_list li img{
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.blog_section .blog_list li time{
    display: block;
    margin: 11px 0 10px 0;
    font-size: 11px;
    color: #9e9e9e;
}

.blog_section .blog_list li h3{
    color: #424242;
    font-weight: normal;
    line-height: 1.6;
}
/**------------------------------------------------------------------------**/

.contact_section{
    margin-top: 109px;
}

.contact_section .sec_tit{
    margin-bottom: 47px;
    text-align: center;
}

.contact_section .form_box .form input{
    padding-bottom: 13px;
    margin-bottom: 38px;
}

.contact_section .form_box .textarea textarea{
    height: 165px;
}

.contact_section .form_box .send_btn{
    margin-top: 36px;
    text-align: right;
}

.contact_section .form_box .send_btn button{
    padding: 15px;
    margin: 0;
    border: 0;
    font-size: 12px;
    color: #fff;
    background-color: #3f51b5;
    font-family: 'Montserrat';
    cursor: pointer;
}

.footer{
    margin-top: 104px;
}

.footer ifram{
    width: 100%;
    height: 320px;
}
.footer p{
    margin: 21px 0;
    color: #3f51b5;
    text-align: center;
}