*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

img{
    vertical-align: top;
}

body{
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper{
    width: 500px;
    margin: 0 auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 30px;
    background-color: rgba(0,0,0,0.7);
}
.cd{
    text-align: center;
    padding: 0 0 20px;
}
.cd img{
    border-radius: 50%;
    border: 3px solid black;
}
.cd img.border{
    border: 3px solid white;
}
.select_music{
    cursor: pointer;
}
.select_music .title{
    background-color: white;
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    height: 40px;
    line-height: 40px;
    color: #ff6600;
    text-indent: 45px;
    font-size: 15px;
    border-radius: 20px;
}
.music_list{
    margin-top: 10px;
    display: none;
}
.music_list li{
    color: #999;
    font-size: 15px;
    padding: 4px 45px;
}
.music_list li:hover{
    color: white;
}