*{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    vertical-align: top;
}
#wrap{
    width: 1200px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 50px;
}
.header_logo{
    width: 300px;
    height: 50px;
    float:left;
    background-color: cornflowerblue;
    text-align: right;
    line-height: 50px;
    color: white;
}
.header_logo b{
    padding-right: 10px;
}
.header_menu{
    width: 900px;
    height: 50px;
    float:left; 
    position: relative;    
}
.header_menu_list{
    width: 600px;
    height: 50px;
    right: 0;
    position: absolute;
}
.header_menu_list li{
    width: 50px;
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    color: #666;
}
.header_menu_list li a:hover{
    color: blue;
    padding-bottom: 15px;
    border-bottom: 1px solid blue;
}
.imgslide{
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    background-image: url(../imges/bg0.png);
    background-position: bottom center;
    background-size: cover;
    position: relative;
}
.imgslide_box{
    width: 1000px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 30px;
}
.imgslide_face{
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-160%);
    position: absolute;
    background-image: url(../imges/face.png);
    background-size: 100px 100px;
    border-radius: 50%;
}
.arrow{
    width: 30px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
.arrow_right{
    right: 0;
}
.people{
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: steelblue;
}
.imgslide_people{
    position: absolute;
    bottom: 20px;
    left: 200px;
}
.imgslide_txt{
    position: absolute;
    width: 220px;
    height: 50px;
    right: 200px;
    bottom: 20px;
    color: white;
    font-size: 14px;
    line-height: 50px;
}
.imgslide_txt span{
    color: blue;
    text-decoration: underline;
    padding-left: 5px;
}
.section{
    width: 1200px;
    height: 1500px;
    margin: 0 auto;
    margin-top: 30px;
}
.section_one{
    width: 1000px;
    height: 700px;
    margin: 0 auto;
}
.section_one_top{
    width: 1000px;
    height: 250px;
}
.contents_box{
    width: 480px;
    height: 250px;
    margin-right: 40px;
    float: left;
}
.contents_box:last-child{
    margin-right: 0;
}
.contents_img{
    width: 480px;
    height:150px;
    background-image: url(../imges/bg1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.img2{
    background-image: url(../imges/bg2.png)
}
.contents_txt{
    width: 480px;
    height: 100px;
    padding-top: 10px;
}
.contents_txt span{
    color: darkgray;
    font-size: 13px
}
.section_one_bt{
    width:  1000px;
    height: 450px;
    background-image: url(../imges/bg3.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.section_one_txt{
    width: 500px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
    text-align: center;
    color: white;
}
.section_one_txt h1{
    font-size: 35px  
}
.trip{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    background-color: red;    
}
.trips{
    position: absolute;
    bottom: 20px
}
.txts{
    right: 10px
}
.section_two{
    width:1000px;
    height: 500px;
    margin: 0 auto;
}
.section_two_top{
    width: 1000px;
    height: 250px;
    margin-top: 20px;
}
.content_box{
    width: 320px;
    height: 250px;
    margin-right: 20px;
    float: left;
}
.content_box:last-child{
    margin-right: 0px;
}
.content_img{
    width: 100%;
    height: 125px;
    position: relative;
    background-image: url(../imges/bg4.png);
    background-size: cover;
}
.content_txt{
    width: 100%;
    height: 125px;
}
.content_txt p{
    margin-top: 10px;
}
.content_txt span{
    color: darkgray;
    font-size: 13px;
}
.nature{
    width: 60px;
    height: 30px;
    background-color: green;
    line-height: 30px;
    text-align: center;
    bottom: 20px;
    position: absolute;
    color: white;
}
.tt{
    width: 60px;
    height: 30px;
    background-color: green;
    line-height: 30px;
    text-align: center;
    bottom: 20px;
    position: absolute;
    color: white;
}
.yy{
    background-color: black
}

}
.peoples{
    background-color: blue;
}
.tech{
    background-color: black;
}
.tripss{
    background-color: red;
}
.fashion{
    background-color: blueviolet;
}
.img5{
    background-image: url(../imges/bg5.png)
}
.img6{
    background-image: url(../imges/bg6.png)
}
.img7{
    background-image: url(../imges/bg7.png)
}
.img8{
    background-image: url(../imges/bg8.png)
}
.img9{
    background-image: url(../imges/bg9.png)
}
.section_three{
    width: 1000px;
    height: 300px;
    margin: 0 auto;  
}
.footer{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background-color: skyblue;
    position: relative;
}
.footer_box{
    width: 500px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.footer_box h1{
    padding-top: 70px;
}
.footer_singbox{
    width: 300px;
    height: 50px;
    background-color:rgba(255,255,255,0.15);
    border-radius: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
}
.singup{
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 40%;
    text-align: center;
    line-height: 50px;
    color: blue;
    position: absolute;
    right: 0;
}