@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: top;
}  
body {
    background-color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

/**/
.wrapper {
    width: 960px;
    margin: 0 auto;
}
.screen {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}
.season_list {
    width: 4800px;
    position: relative;
    overflow: hidden;
}
.season_list li {
    width: 960px;
    height: 600px;
    float: left;
}
.season_list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.controls {
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.controls a {
    display: inline-block;
    width: 30px;
    height: 80px;
    background-image: url(../images/arrow.png);
    text-indent: -9999px;
    margin: 0 20px;
}

.controls a.next {
    background-position: right top;
    float: right;
}

.controls a:hover {
    background-position-y: bottom; 
}
.bar {
    position: relative;
    left: 0;
    width: 192px;
    height: 10px;
    background-color: firebrick;
}
.title {
    text-align: center;
    margin: 20px 0;
    color: #fff;
}
.poster_list {
    width: 950px;
    height:270px;
    margin: 20px auto;
}
.poster_list li {
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px;
    border: 10px solid black;
    cursor: pointer;
}
.poster_list li img {
    width: 100%;
    height: 100%;
}
.poster_list h2 {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
.poster_list li.active {
    border: 10px solid firebrick;
    opacity: 1;
}
