@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
}
.logo{
    display: none;
}
img{
    vertical-align: top;
    border: none;
    cursor: pointer;
}
h1{
    height: 180px;
    font-family: 'Lobster', cursive;
    font-size: 130px;
    color: #f0f0f0;
    opacity: 0.7;
}
.menu{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 380px;
}
.menu img{
    position: relative;
    top: -1200px;
    opacity: 0;
}
.menu img.show{
    opacity: 1;
    top: 0;
    
}