* {
	margin: 0;
	padding: 0;
}

@font-face {
	src: url("../font/a애정표현.ttf");
	font-family: "love"
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: top;
}

body{
	overflow-x: hidden;
}


#warp {
	margin: 0 auto;
	width: 1920px;
	height: 5970px;
	overflow: hidden;
	position: relative;
}

header {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 19px;
	font-weight: bold;
	position: fixed;
	width: 1920px;
	height: 200px;
	background-color: white;
	z-index: 999999;
}

.header_top {
	position: relative;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.logo {
	width: 286px;
	height: 150px;
	margin: 0 auto;
	cursor: pointer;
}

.logo h1 img {
	padding-top: 40px;
}

.header_top_img {
	width: 720px;
	margin: 0 auto;
	position: absolute;
	bottom: -130px;
	left: 50%;
	margin-left: -360px;
	transition: 1s;
}

.header_top_img.hover {
	width: 720px;
	margin: 0 auto;
	position: absolute;
	bottom: -50px;
	left: 50%;
	margin-left: -360px;
	transition: 1s;
}

.header_top_img li {
	float: left;
}


.header_bottom {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #e6cf29;
}

.header_bottom_list {
	width: 800px;
	margin: 0 auto;
}

.header_bottom_list li {
	float: left;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.header_bottom_list li:hover {
	background-color: white;
}
/*-----------*/

.test01{
	position: relative;
}

/*------------*/
.imgslide {
	padding-top: 200px;
	width: 1920px;
	height: 720px;
	position: relative;
	overflow: hidden;
}

.imgslide_box {
	width: 7680px;
	height: 720px;
	position: relative;
	overflow: hidden;
}

.imgslide_box li {
	float: left;
	width: 1920px;
	height: 720px;
}

.movie_list li img {
	width: 100%;
}

.controls {
	height: 80px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.controls a {
	width: 25px;
	height: 40px;
	background-image: url(../images/arrow.png);
	text-indent: -9999px;
	margin: 0 20px;
	display: inline-block;
}

.controls a.next {
	background-position: right top;
	float: right;
	margin-right: 40px;
}

.slide_btn {
	height: 40px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}



.slide_btn li {
	background-image: url(../images/bar_white.png);
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 20px;
	text-indent: -999px;
}

.slide_btn li.active {
	background-image: url(../images/bar_yellow.png);
}

.slide_btn li:hover {
	background-image: url(../images/bar_yellow.png);
	background-position: left;
	
}

#contents01 {
	width: 1920px;
	height: 573px;
	position: relative;
	transition: 1;
	padding-top: 100px;
	
}


.contents01_bg {
	position: absolute;
	z-index: -99;
	left: 50%;
	margin-left: -540px;
	bottom: 0;
}


.left_img {
	float: left;
	margin-left: 350px;
	position: absolute;
	bottom: 0px;
}

.right_text {
	text-align: center;
	font-family: love;
	font-size: 35px;
	margin-right: 450px;
	margin-top: 120px;
	position: absolute;
	right: 10%;
	top: 35%;
}

/*------------------------------------*/


#section_0001 {
	width: 1920px;
	height: 1531px;
	margin: 0 auto;
	background-image: url(../images/bg02.png);
}

#section_0001 h1 {
	margin: 65px 30px;
	padding-top: 150px;
	font-size: 55px;
	font-family: "love";
	font-weight: 400;
	margin-left: 320px;
}

.contents {
	width: 1280px;
	margin-top: 20px;
	margin-left: 20px;
	margin: 0 auto;
}

.contents_box {
	width: 1280px;
	height: 330px;
	background-color: white;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.contents_box img {
	padding: 0 110px;
	float: left;
	position: absolute;
	bottom: 0;
	transition: all 0.1s linear;

}

.contents_box img:hover {
	transform: scale(1.4);
}

.contents_txt {
	float: right;
	font-family: "love";
}

.contents_txt h3 {
	width: 625px;
	height: 75px;
	margin-top: 70px;
	margin-bottom: 30px;
	background-color: #e6cf29;
	line-height: 75px;
	padding-left: 10px;
	font-size: 35px;
	font-weight: 500;
}

.contents_txt p {
	padding-right: 100px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 25px;
}

/*----------------------------------*/


.section02{
    width: 1920px;
    height: 740px;
}
.list_box{
    width: 1280px;
    height: 500px;
    margin: 0 auto;
}
.l_col{
    float: left;
    box-sizing: border-box;
    width: 195px;
    height: 250px;
    margin: 0 30px;
}
.contents-josuck{
    width: 195px;
    height: 165px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}
.contents_box01{
    width: 195px;
    height: 10px;
}
.contents_box_title{
    text-align: center;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.list_box h1{
    padding: 0px 30px;
	padding-top: 120px;
    margin-bottom: 50px;
    margin-top: 50px;
	font-size: 55px;
	font-family: love;
	font-weight: 400;
}

.josuck-img{
	width: 100%;
	height: 100%;
	transition: 0.3s;
}

.josuck-img:hover{
    transform: scale(1.2);
}

/*-----------------------------*/

.wrapper{
    width: 1920px;
    height: 1900px;
    background-image: url(../images/bg01.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.tab{
    margin: 0 auto;
    width: 1920px;
    height: 1900px;
    overflow: hidden;
    
}
.tab h1{
    position: absolute;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 130px;
    font-size: 55px;
    left: 285px;
	font-family: love;
	font-weight: 400;
    
}
.board{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1280px;
    height: 560px;
    overflow: hidden;
    border:3px solid black;
    
}
.board>li{
    float: left;
    width: 50%;
}
.board>li .title{
	display: block;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background-color: yellow;
    color: black;
    border-bottom: 3px solid black;
    font-size: 30px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 600;
}
.board>li.on .title{
    background-color: white;
    color: black;
}
.board_box{
    height: 0;
    overflow: hidden;
}
.board>li.on .board_box{
    position:absolute;
    width: 1280px;
    height: 500px;
    box-sizing: border-box;
    background-color: white;
    top: 68px;
    left: 0px;
}
.video li{
   float: left;
   width: 550px;
   height: 300px;
   margin: 60px 20px 10px 50px;
   border: 3px solid black;
}
.sub a{
    display: inline-block;
}
.sub{
    width: 50%;
    height: 400px;
    float: left;
}
.sub h3{
    margin-top: 10px;
    width: 640px;
    height: 70px;
    line-height: 70px;
    font-size: 35px;
    text-align: center;
}
.sub li{
    height: 40px;
    position: relative;
    font-size: 25px;
    text-align: center;
    margin: 15px;
    
}
.sub li a:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}
.sub>li span{
    position: absolute;
    right: 0;
    
}
.video h2{
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
}
.modal{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999999;
    display: none;
}
.modal p{
    width: 1500px;
    height: 100px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
    line-height: 100px;
    background-color: #000;
    color: white;
    font-size: 40px;
}
.modal_bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 9999999;
    display: none;
}
.bottom_bg{
     position: absolute;
    width: 1920px;
    height: 1000px;
    background-image: url(../images/last-1.png);
    background-repeat: no-repeat;
    bottom: -1200px;
    transition: 1s;
}
.active02{
    bottom: 0;
}
.footer{
    position: relative;
    bottom: 0px;
    width: 1920px;
    height: 100px;
    background-color: dimgray;
    z-index: 9999;
    
}
.footer h3{
    position: absolute;
    float: left;
    width: 500px;
    height: 100px;
    line-height: 100px;
    text-align: ;
    color: white; 
    font-size: 25px;
    left:750px
}
.icon{
    position: absolute;
    width: 200px;
    height: 100px;
    right: 400px
    
}
.icon li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px 10px 10px 10px;
    box-sizing: border-box;
    text-indent: -9999px;
}
.icon li:last-child{
    margin-right: 0px;
}
.icon1{
    background-image: url(../images/icon_1.png)
}
.icon2{
    background-image: url(../images/icon_2.png)
}
.icon3{
    background-image: url(../images/icon_3.png)
}
.icon1:hover{
    background-position: bottom;
}
.icon2:hover{
    background-position: bottom;
}
.icon3:hover{
    background-position: bottom;
}


/*--------------------------------------*/

.con01{
	position: absolute;
	right: -420px;
	top: 3080px;
	transition: 1s;
	opacity: 0;
}
.con02{
	position: absolute;
	left: -470px;
	top: 1730px;
	transition: 1s;
	opacity: 0;
}
.con03{
	position: absolute;
	left: -500px;
	top: 3850px;
	transition: 1s;
	opacity: 0;
}

.con01.active03{
	position: absolute;
	right: -120px;
	top: 3080px;
	opacity: 1;
}
.con02.active04{
	position: absolute;
	left: -160px;
	top: 1730px;
	opacity: 1;
}
.con03.active05{
	position: absolute;
	left: -200px;
	top: 3850px;
	opacity: 1;
}



