*{
    margin: 0;
    padding: 0;
}
li{
    list-style: noe;
}
img{
    vertical-align: top;
}
#key{
    width: 1000px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.key_list{
    width: 1000px;
    height: 350px;
    position: absolute;
    left: 0;
    top: 0;
}

.key_list li img{
    width: 100%;
}
.key_title{
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    border-radius: 20px;        
}